<!--The content below is only a placeholder and can be replaced.-->
<!---<div class='main'>
  <label for='status'>Active</label>
  <input type="radio" id='status' />
  <button (click)='greetPerson()'>Click</button>
  <input [(ngModel)]="lastName" type="text"  />
  <h1 *ngIf="status">{{firstName}}</h1>
  <ul>
    <li *ngFor="let post of posts;">{{post.title}}</li>
  </ul>
  
</div>
<button class="btn btn-primary">CLICK</button> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
